* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: diodrum;
  src: url(fonts/DiodrumArabic-Regular.ttf);
}


body {
  font-family: diodrum;
  background: radial-gradient(circle at center, antiquewhite 0%, white 100%);
  background-image: url("img/back.jpg");
}
header {
  padding: 30px 0 60px 0;
  transition: all .2s;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 1rem;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 10px 10px;
  filter: blur(0px);
  transition: all .2s;
}
.icon-container img:hover{
  cursor: pointer;
}
.icon-container img {
  border: 2px, solid black;
  box-shadow: 5px 5px black;
}
#details-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67%;
  background-color: rgb(248, 94, 94);
  /* border-radius: 20px; */
  border: 2px, solid black;
  box-shadow: 5px 5px black;
  padding: 40px;
  height: fit-content;
  max-height: 80%;
  overflow: scroll;
  visibility: hidden;
  filter:opacity(0);
  transition: all .2s;
}
#details-container .details-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#details-container iframe {
  width: 100%;
  border: 2px, solid black;
  box-shadow: 5px 5px black;
}
#details-container #close-button {
  position: absolute;
  left: 15px;
  top: 15px;
  filter: contrast(.2);
}
#close-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  #details-container {
    width: 90%;
  }
}